@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

body {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    flex-wrap: wrap;

}

h1 {
    margin: 50px;
    text-align: center;
}

.movieList {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 30px;
}

.movieListEntry {
    text-align: center;
    border: 0.5px solid #73AD21;
    margin: 5px;
}

.search-wrapper {
    margin: 0px 130px 10px 140px;
    width: 60%;
    display: inline-flex;
}

#watched-list, #to-watch-list {
    margin: auto;
    width: 20%;
    padding: 5px;
}

.search {
    margin: auto;
    width: 60%;
    padding-left: 20px;
}

.add-movie {
    margin: auto;
    width: 60%;
    padding: 30px;
}

.search-bar, .add-movie-input{
    font-family: 'Indie Flower', cursive;
    font-size: 14px;
    width: 80%;
    height: 30px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
}

.search-bar:focus, .add-movie-input:focus {
    outline: none;
    color: green;
}

.search-submit-button, .add-movie-button{
    font-family: 'Indie Flower', cursive;
    width: 18%;
    height: 33px;
    border-radius: 10px;
}

.search-submit-button:hover, .add-movie-button:hover,
#watched-list:hover, #to-watch-list:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(2, 73, 2);
}