@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

body {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    flex-wrap: wrap;

}

h1 {
    margin: 50px;
    text-align: center;
}

.movieList {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 30px;
}

.movieListEntry {
    text-align: center;
    border: 0.5px solid #73AD21;
    margin: 5px;
}

.search {
    margin: auto;
    width: 60%;
    padding: 30px;
}

.search-bar {
    width: 80%;
    height: 30px;
}

.search-submit-button {
    font-family: 'Indie Flower', cursive;
    width: 18%;
    height: 33px;
    border-radius: 10px;
}

.search-submit-button:hover {
    cursor: pointer;
    color: blue;
    background-color: lightgreen;
}